@import "tailwindcss";

@utility btn {
  padding: --spacing(2) --spacing(5);
  color: var(--color-white);
  transition: color;
  background-color: var(--color-blue-600);
  border-radius: var(--radius-lg);

  &:hover {
    @media (hover: hover) {
      background-color: var(--color-blue-700);
    }
  }

  &:disabled,
  &[disabled] {
    background-color: var(--color-bg-blue-300);

    &:hover {
      @media (hover: hover) {
        background-color: var(--color-blue-300);
      }
    }
  }
}

@utility link {
  color: var(--color-blue-400);

  &:hover {
    @media (hover: hover) {
      color: var(--color-blue-500);
      text-transform: undeline;
    }
  }
}