package pages;

import "github.com/vekkele/worddy/ui/view/layouts"
import "github.com/vekkele/worddy/ui/view/partials"
import "net/http"

templ Dashboard(r *http.Request) {
	@layouts.Page("Dashboard") {
		@partials.Header(r, true)
		<main class="px-12 py-6">
			<a href="/word/add" class="btn">New Word</a>
		</main>
	}
}
