package pages;

import (
	"github.com/vekkele/worddy/ui/view/layouts"
	"github.com/vekkele/worddy/ui/view/partials"
	"net/http"
)

templ Dashboard(r *http.Request) {
	@layouts.Page("Dashboard") {
		@partials.Header(r, true)
		<main class="flex flex-col items-start gap-6 px-12 py-6" hx-boost="true">
			<a href="/word/add" class="btn">New Word</a>
			<a href="/review" class="btn">Review</a>
			<div hx-get="/word/table" hx-trigger="load" hx-swap="outerHTML"></div>
		</main>
	}
}
