package pages

import "github.com/vekkele/worddy/ui/view/shared"

templ Home(appName string) {
	@shared.Page("Home") {
		<main class="flex flex-col items-center min-h-screen gap-6 dark:bg-slate-900 dark:text-white">
			<h1 class="pt-20 text-2xl dark:text-white">
				Worddy is an app that helps you learn new vocabulary
			</h1>
			<section class="flex gap-4">
				<a href="/user/signup" class="btn">Sign Up</a>
				<a href="/user/login" class="btn">Login</a>
			</section>
		</main>
	}
}
