package pages

import "net/http"
import "github.com/vekkele/worddy/ui/view/layouts"

templ Home(r *http.Request, appName string) {
	@layouts.Page("Home") {
		<main class="flex flex-col items-center gap-6 ">
			<h1 class="pt-20 text-2xl dark:text-white">
				Worddy is an app that helps you learn new vocabulary
			</h1>
			<section class="flex gap-4">
				<a href="/user/signup" class="btn">Sign Up</a>
				<a href="/user/login" class="btn">Login</a>
			</section>
		</main>
	}
}
